
/* ===== start=====navber style======= */

.container{
    width: 90%;
    max-width: 1450px;
    margin: 50px auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.nav-title{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.nav-list-item ul {
    display: flex;
    align-items: center;
}

.nav-list-item li, img{
    list-style: none;
    margin-left: 20px;
    color: #3A3A3A;
    font-family: Poppins;
    font-weight: 600;
}

.nav-list-item img{
    width: 6%;
    align-items: center;
}


/* ==========first-section====start */

.first-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
}

button{
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    outline: none;
    border: none;
    color: aliceblue;
    font-weight: 700;
}
button > img{
    width: 10%;
}

.header-first-section-img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.header-first-section-img img{
    width: 100%;
    margin: 0 auto;
}

/* logo area start */

.logo-area{
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid rgb(250, 244, 237);
    padding: 20px;
}
.logo-area img{
    padding: 10px;
}


/* popular collectino start */











/* Responsive design */
/* mobile device */
@media screen and (max-width: 576px) {
    .container{
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        margin: 0px;
    }
    .first-section{
        flex-direction: column-reverse;
    }
.header-first-section-text{
    text-align: center;
}
}




/* Tablet device */
@media screen and (min-width: 577px) and (max-width: 960px) {
    .navbar{
        flex-direction: column;
        margin: 0px;
        
    }
}